@import "../../styles/vars/colors.scss";
@import "../../styles/vars/dimensions.scss";

.article    {
  float: left;
  width: calc(100% - #{$related-max-width});
  padding-right: 50px;
  text-align: left;
}

.wallpaper  {
  float: left;
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
  margin: 0 0 25px 0;
}

.number {
  float: left;
  width: 85px;
  height: 85px;
  background: $primary-color;
  border-radius: 100px;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.25);
  margin: 0 0 25px 0;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 85px;
  text-align: center;
  color: $number-color;
}

.article h1  {
  float: left;
  font-size: 46px;
  line-height: 56px;
  margin: -7px 0 25px 0;
  padding: 0;
  font-family: Inter;
  font-weight: 600;
  color: $list-title;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article h2 {
  float: left;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: $list-title;
  margin: 0 0 25px 0;
}

.article p  {
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: $list-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 25px 0;
}

.intro, .entry  {
  float: left;
  margin-bottom: 50px;
}

.related  {
  float: left;
  width: $related-max-width;
  overflow: hidden;
  text-align: left;
}

.relatedContent  {
  float: left;
  width: calc(100% + 2 * #{$grid-horizontal-margin});
  margin-left: -#{$grid-horizontal-margin};
  display: grid;
  grid-template-columns: 1fr;
}