/* General */
  $primary-color: #2348C2;
  $number-color: #ffffff;

/* Navigation */
  $navigation-button-background: #e0e0e0;
  $navigation-icon: #333333;
  $navigation-icon-focused: #000000;

/* Search Section */
  $page-title-color: #000000;

/* Inputs */
  $searchbar-color: #eaeaea;
  $searchbar-text-color: #000000;
  $searchbar-placeholder-text-color: #666666;

/* List */
  $list-title: #000000;
  $list-text: #555555;

/* Article Card */
  $article-card-background: #E2E5EF;
  $article-card-title: #000000;
  $article-card-stat: #555555;

/* Info Card */
  $info-card-background: #f0f0f0;
  $info-card-background-hover: #eaeaea;
  $info-card-title: #000000;

/* Comment Card */
  $comment-card-background: #f0f0f0;
  $comment-card-background-hover: #eaeaea;
  $comment-card-title: #000000;