$article-card-color: #E2E5EF;

.card    {
  float: left;
  height: 260px;
  border-radius: 25px;
  background-color: $article-card-color;
  margin: 0 12.5px 30px 12.5px;
}

.card h4    {
  float: left;

}

.card .stat {
  float: left;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #555555;
}