@import "../../styles/vars/colors.scss";
@import "../../styles/vars/dimensions.scss";


.entry  {
  float: left;
  width: 100%;
  background-color: #572B1F; // Gör bakgrundsfärg dynamisk
  border-radius: 30px;
}