@import "../../styles/vars/colors.scss";
@import "../../styles/vars/dimensions.scss";


.container  {
  position: fixed;
  top: 310px;
  margin-left: -100px;
  width: 50px;
  height: calc(100vh - 310px);
  overflow: hidden;
  counter-reset: section;
}

.navigation {
  height: 100%;
  width: calc(50px + 30px);
  padding-right: 30px;
  overflow: auto;
  padding-top: 20px;
}

.number {
  float: left;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: -10px;
  z-index: 2;
  position: relative;
}

.number::before {
  content: counter(section);
}

.thumbnail  {
  max-height: 50px;
  max-width: 50px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
  z-index: 1;
  position: relative;
}

.topShadow  {
  position: fixed;
  width: 50px;
  height: 20px;
  background: linear-gradient(180deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0); 
}

.bottomShadow {
  position: fixed;
  bottom: 0;
  width: 50px;
  height: 20px;
  background: linear-gradient(180deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}