@import "../../styles/vars/colors.scss";
@import "../../styles/vars/dimensions.scss";


.container  {
  float: left;
  width: 100px;
  position: relative;
  height: 1px;
}

.navigation {
  position: fixed;
  top: $desktop-page-margin;
  width: 100px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.logo {
  width: 66px;
  margin: -4px 0 30px -4px;
  cursor: pointer;
}

.navigation a   {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: $navigation-button-background;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navigation a svg path  {
  fill: $navigation-icon-focused;
}

// .navigation a:hover svg path  {
//   fill: $navigation-icon-focused;
// }