@import "../../styles/vars/colors.scss";
@import "../../styles/vars/dimensions.scss";


.container  {
  float: left;
  width: 100px;
  position: relative;
  height: 1px;
  z-index: 1000;
}

.navigation {
  position: fixed;
  top: $desktop-page-margin;
  width: 100px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.logo {
  width: 66px;
  margin: -16px 0 16px -16px;
  cursor: pointer;
}

.navigation a   {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: $navigation-button-background;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 16px #dddddd, inset 0px -6px 12px 1px rgba(0, 0, 0, 0.1);
  transition: .0125s;
}

.navigation a:hover {
  background-color: $navigation-button-background-hover;
  box-shadow: 0px 0px 16px #d0d0d0, inset 0px -6px 12px 1px rgba(0, 0, 0, 0.1);
}

.navigation a:active {
  transform: scale(.95);
}

.navigation a svg path  {
  fill: $navigation-icon-focused;
}

// .navigation a:hover svg path  {
//   fill: $navigation-icon-focused;
// }