@import "../../styles/vars/colors.scss";
@import "../../styles/vars/dimensions.scss";


.searchSection  {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  background-color: #ffffff;
  z-index: 100;
}

.searchSection img {
  float: left;
  width: 36px;
  height: 36px;
  margin-top: 7px;
  margin-right: 8px;
}

.searchSection a {
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 50px;
  color: $page-title-color;
  margin-right: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.searchSection input {
  float: left;
  background-color: $searchbar-color;
  border: 0;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  padding: 0 17px;
  font-size: 22px;
  font-family: Inter;
  font-weight: 600;
  color: $searchbar-text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.searchSection input::placeholder {
  color: $searchbar-placeholder-text-color;
  opacity: 1;
}

.searchSection input:-ms-input-placeholder {
  color: $searchbar-placeholder-text-color;
}

.searchSection input::-ms-input-placeholder {
  color: $searchbar-placeholder-text-color;
}

.searchSection input:focus  {
  outline: 0;
}

.searchSection input[type="search"]::-webkit-search-cancel-button {
  display: none;
}


/* -------- Tablet --------- */

@media screen and (max-width: $tablet-max-width) {
  .searchSection input  {
    display: none;
  }
}