@import "../styles/vars/colors.scss";
@import "../styles/vars/dimensions.scss";


.home {
  text-align: left;
}

.grid {
  float: left;
  width: 100%;
}

.gridContent {
  display: grid;
  width: calc(100% + 2 * #{$grid-horizontal-margin});
  margin: 0 -#{$grid-horizontal-margin};
  grid-template-columns: $desktop-grid-columns;
}


/* ----- Desktop Small ----- */

@media screen and (max-width: $desktop-small-max-width) {
  .gridContent  {
    grid-template-columns: $tablet-grid-columns;
  }
}


/* -------- Mobile --------- */

@media screen and (max-width: $mobile-max-width) {
  .gridContent  {
    grid-template-columns: $mobile-grid-columns;
  }
}