@font-face {
  font-family: inter;
  src: url(../public/fonts/Inter-Regular.woff2);
  font-weight: 400;
}  

@font-face {
  font-family: inter;
  src: url(../public/fonts/Inter-Medium.woff2);
  font-weight: 500;
}  

@font-face {
  font-family: inter;
  src: url(../public/fonts/Inter-SemiBold.woff2);
  font-weight: 600;
}  

@font-face {
  font-family: inter;
  src: url(../public/fonts/Inter-Bold.woff2);
  font-weight: 700;
}  

@font-face {
  font-family: inter;
  src: url(../public/fonts/Inter-ExtraBold.woff2);
  font-weight: 800;
}  